/* *{
    border: solid;
} */
.header{
    background-color:turquoise;
    display: flex;
    justify-content: space-between;
    margin:40px;
}
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgb(44, 16, 170);
    margin-left: 300px;
    margin-right: 300px;
}

.item:hover p{
    opacity: 0.63;
}

.menu a{
    margin-left:5px;
}

